[submodule "dropsonde-agent"]
	path = src/dropsonde-agent/src/dropsonde-agent
	url = https://github.com/cloudfoundry-incubator/dropsonde-agent.git
[submodule "hurricanehunter"]
	path = src/hurricanehunter/src/hurricanehunter
	url = https://github.com/cf-lamb/hurricanehunter.git
