[submodule "src/github.com/cloudfoundry-incubator/dropsonde"]
	path = src/github.com/cloudfoundry-incubator/dropsonde
	url = https://github.com/cloudfoundry-incubator/dropsonde.git
[submodule "src/code.google.com/p/gogoprotobuf"]
	path = src/code.google.com/p/gogoprotobuf
	url = https://code.google.com/p/gogoprotobuf/
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "src/dropsonde-agent"]
	path = src/dropsonde-agent
	url = https://github.com/cloudfoundry-incubator/dropsonde-agent.git
